.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* main css */
@font-face {
  font-family: "Airbnb";
  src: url(./assets/font/airbnb-cereal-font/AirbnbCereal_W_Lt.otf)
}

@font-face {
  font-family: "Inter";
  src: url(./assets/font/Inter/Inter-VariableFont_slnt\,wght.ttf)
}

.container-fluid{
  height: auto;
  --bs-gutter-x: 0 !important;
  margin-bottom: 50px;
}

.container-fluid.h100{
  height: 100px;
}

.landing-body{
  background-color: #FFF5EC;
  color: #ffffff;
}

.yellow-line{
  background-color: #EFC81A;
  height: 100%;
  width: 25px;
}

.yellow-line.absolut{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container-fluid .navbar{
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 950;
  top: 0;
  --bs-navbar-padding-y: 0;
}

/* .navbar {
  position: sticky;
  background-color: cyan !important;
  transition: background-color 200ms linear;
} */

/* navbar main menu */
.main-menu{
  width: 80%;
  background-color: #FFF5EC;
}

ul{
  display: flex;
  list-style-type: none;
}

.navbar .main-menu ul li{
  padding: 15px 30px;
  font-weight: 500;
}

.navbar .main-menu ul li a{
  text-decoration: none;
  color: #2E266F;
}

/* navbar login menu */
.container-fluid .navbar .login-menu{
  width: 20%;
}

.navbar .login-menu ul{
  padding-left: 60px;
  display: flex;
  align-items:flex-end
}

.navbar .login-menu ul li{
  padding: 10px 0px;
}

.navbar .login-menu ul li a{
  text-decoration: none;
  color: #ffffff;
}

.navbar .login-menu ul li .login{
  display: flex;
  align-items: center;
}

.navbar .login-menu ul li .icon{
  display: flex;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-right: 10px;
}

.currentPage{
  text-decoration: underline !important;
}

/* content */
.hero{
  height: 100vh;
  width: 100%;
  display: flex;
}

.content{
  height: 100vh;
  width: 80%;
  color: #2E266F;
}

.content .jumbroton{
  position: absolute;
  top: 200px;
  left: 100px;
}

.content h1{
  width: 420px;
  font-size: 52px;
}

.content .form-group{
  display: flex;
  width: 460px;
  height: 10px;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 40px;
  color: gray;
}

.content input{
  border: hidden;
}

.content input::placeholder{
  color: #2E266F;
  opacity: 50%;
}

.food-image{
  height: 100vh;
  background-color: #EFC81A;
  width: 250px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.food-image img{
  width: 400px;
  height: 400px;
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 960;
}

/* popular section */

.popular{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 500px;
  height: 100px;
  margin-left: 65px;
}

.title{
  display: flex;
  color: #2E266F;
  align-items: center;
  padding-left: 25px;
}

.popular-content{
  display: flex;
  flex-direction: row;
}

.bg-image1{
  display: flex;
  background-image: url(./assets/img/pizza\ lamoa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin-top: 90px;
}

.bg-image2{
  display: flex;
  background-image: url(./assets/img/king\ burger.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin-top: 90px;
  margin-left: 25px;
}

.popular-content h4{
  padding-left: 20px;
  padding-top: 225px;
  width: 50px;
}

/* new recipe */
.new-recipe{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 500px;
  height: 100px;
  margin-left: 65px;
}

.new-recipe h2{
  color: #000;
}

.new-recipe-content{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 500px;
}

.yellow-bg{
  position: absolute;
  z-index: 800;
  height: 375px;
  width: 250px;
  margin-top: 50px;
  background-color: #EFC81A;
}

.nr-image{
  display: flex;
  z-index: 900;
  background-image: url(./assets/img/squid\ burger.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 375px;
  width: 375px;
  margin-top: 90px;
  margin-left: 50px;
}

.new-rec-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 350px;
  z-index: 850;
}

.new-rec-desc h3{
  color: #000;
  font-size: 35px;
  width: 375px;
}

.new-rec-desc p{
  color: #000;
  width: 350px;
  padding-top: 20px;
}

.new-rec-desc .nr-line{
 height: 1.5px;
 background-color: #000;
 width: 60px;
}

.btn{
  background-color: #EFC81A;
  justify-content: center !important;
  border: none !important;
  width: 150px;
  height: 50px;
  display: inline-flex !important;
  align-items: center;
}

/* Popular recipe */
.popular-rec{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 500px;
  height: 100px;
  margin-left: 65px;
}

.popular-recipe-content{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 65px;
  width: 90%;
  /* height: 120vh; */
}

.pr-image11{
  display: flex;
  background-image: url(./assets/img/chiken\ kare.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin-top: 90px;
}

.pr-image12{
  display: flex;
  background-image: url(./assets/img/bomb\ chicken.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin-top: 90px;
}

.pr-image13{
  display: flex;
  background-image: url(./assets/img/banana\ smoothie\ pop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin-top: 90px;
}

.pr-image21{
  display: flex;
  background-image: url(./assets/img/coffee\ lava\ cake.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin-top: 50px;
}

.pr-image22{
  display: flex;
  background-image: url(./assets/img/sugar\ salmon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin-top: 50px;
}

.pr-image23{
  display: flex;
  background-image: url(./assets/img/indian\ salad.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin-top: 50px;
}

.popular-recipe-content h4{
  padding-left: 20px;
  padding-top: 235px;
  width: 125px;
  color: #000;
  font-size: 15px;
}

/* footer */
.footer{
  width: 100%;
  height: 50vh;
  background-color: #EFC81A;
  color:#000;
}

.f-quote{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.f-quote h3{
  font-size: 50px;
}

.f-quote p{
  font-size: 15px;
}

.f-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.f-product ul li{
  padding: 10px 30px;
  opacity: 20;
  color: #707070;
  /* font-family: poppins;
  src: url(font/Poppins/Poppins-Light.ttf) */
}

.arkademy{
  position: absolute;
  right: 100px;
  margin-top: 10px;
}

/* detail recipe */
.recipe-title{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  padding-top: 80px;
}

.recipe-title .title-r{
  display: flex;
  color: #2E266F;
  align-items: center;
}

.recipe-title h3{
  font-size: 56px;
}

.recipe-title .image-r{
  display: flex;
  justify-content: right;
  align-items: flex-end;
  /* background-image: url(./assets/img/loream\ sandwich.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 700px;
  height: 400px;
}

.recipe-title .image-r .save-button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #EFC81A;
  color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  border: 1px solid #EFC81A;
  cursor: pointer;
}

.recipe-title .image-r .save-button:hover{
  background-color: #FFFFFF;
  color: #EFC81A;
}

.recipe-title .image-r .like-button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  color: #EFC81A;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  border: 1px solid #EFC81A;
  cursor: pointer;
}

.recipe-title .image-r .like-button:hover{
  background-color: #EFC81A;
  color: #FFFFFF;
}

.ingredient-container{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.ingredient-list{
  margin-top: 50px;
  margin-left: 150px;
}

.ingredient-list h4{
  font-size: 36px;
}

.ingredient-list ul{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-top: 30px;
  width: 450px;
}

.ingredient-list ul > li{
  text-indent: -30px;
}

.ingredient-list ul > li::before{
  content: "- ";
  text-indent: -300px;
}

.vid-step-container{
  width: 100%;
  height: 65vh;
}

.vid-step{
  padding-top: 30px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.vid-step h4{
  font-size: 36px;
}

.vid-step .vid a.btn{
  width: 250px;
}

.comment-container{
  width: 100%;
  height: 90vh;
}

.comment{
  padding-top: 30px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 75%;
  height: 95%;
}

.comment .comment-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 60%;
}

.comment .comment-box textarea{
  width: 95%;
  height: 100%;
  padding: 10px 10px 10px 10px;
  background-color: #F6F5F4;
  resize: none;
}

.comment .comment-box a{
  width: 300px;
}

.comment .comment-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40%;
}

.comment .comment-list h4{
  font-size: 36px;
}

.comment .comment-list .user-comment{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.comment .comment-list .user-comment .user-img{
  background-image: url(./assets/img/ayudia.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.comment .comment-list .user-comment .comment-content{
  display: flex;
  flex-direction: column;
}

.comment .comment-list .user-comment .comment-content p{
  height: 20px;
  margin: 1px;
}

.comment .comment-list .user-comment .comment-content h6{
  font-weight: 500;
  height: 20px;
  margin: 1px;
  cursor: pointer;
}

.video-section{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 100px;
  width: 1100px;
  height: 550px;
}

.video-section .this-vid-section{
  height: 100%;
  width: 70%;
}

.video-section .next-vid-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 30%;
  padding-left: 30px;
}

.this-vid{
  width: 100%;
  height: 400px;
}

.this-vid-section h2{
  font-weight: 500;
  font-size: 24px;
  padding-top: 10px;
}

.this-vid-section p{
  color: #AAAAAA;
  font-size: 18px;
}

.next-vid-section h5{
  margin-top: 5px;
  padding-left: 20px;
}

.next-vid-section .next-step{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  height: 150px;
}

.next-vid-section .next-step:hover{
  cursor: pointer;
}

.next-vid-section .next-step .next-step1-img{
  background-image: url(./assets/img/beef\ steak-step\ 5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70%;
}

.next-vid-section .next-step p{
  color:#ffffff;
  padding-top: 5px;
  padding-left: 5px;
}

.next-vid-section .next-step1-title{
  width: 100%;
  height: 30%;
}

.next-vid-section h6{
  font-size: 12px;
  margin-bottom: 0;;
}

.next-vid-section .next-step1-title p{
  font-size: 10px;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  color: #AAAAAA;
}

.next-vid-section .next-step .next-step2-img{
  background-image: url(./assets/img/beef\ steak-step\ 6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70%;
}

.next-vid-section .next-step2-title{
  width: 100%;
  height: 30%;
}

.next-vid-section .next-step2-title p{
  font-size: 10px;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  color: #AAAAAA;
}

/* add new recipe */
.main-menu.full{
  background-color: #fff;
  width: 100%;
}

.add-recipe-container{
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.add-recipe-form{
  width: 70%;
  height: 100%;
}

.add-recipe-form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-recipe-form form .add-photo{
  width: 100%;
  height: 300px;
  background-color: #F6F5F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 36px;
}

.add-recipe-form form .add-photo p{
  font-size: 16px;
}

.add-recipe-form form .add-title{
  width: 100%;
  height: 50px;
  background-color: #F6F5F4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-recipe-form form input{
  border: none;
  width: 95%;
  height: 80%;
  padding-left: 10px;
  background-color: #F6F5F4;
  color: #000;
}

.add-recipe-form form input:focus{
  background-color: white;
}

.add-recipe-form form .add-ingredient{
  width: 100%;
  height: 200px;
  background-color: #F6F5F4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-recipe-form form textarea{
  border: none;
  width: 95%;
  height: 95%;
  padding-left: 10px;
  background-color: #F6F5F4;
  color: #000;
  resize: none;
}

.add-recipe-form form textarea:focus{
  background-color: white;
}

.add-recipe-form form .post-new-recipe{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-recipe-form form .post-new-recipe a.btn{
  width: 40%;
}

.profile-container{
  padding-top: 25px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture{
  background-image: url(./assets/img/garneta\ sharina.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  cursor: pointer;
  color: #EFC81A;
  display: flex;
  
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 24px;
}

.profile-picture img{
  width: 14px;
  height: 14px;
}

.pencil-btn{
  background-image: url(./assets/img/pencil.png);
  background-color: transparent !important;
  background-size: cover;
  width: 14px;
  height: 14px;
  border: none;
}

.btn.btn-primary.prof-btn{
  background-color: #E7E7E7 !important;
  color:#000;
  width: 300px;
  height: 30px;
  font-size: 14px;
}

.btn.btn-primary.prof-btn:hover{
  background-color: #AAA !important;
  color: #000 !important;
}

.profile-container .collapse.in{
  display:flex;
  flex-direction: column;
}

.collapsing{
  display:flex;
  flex-direction: column;
}

.profile-name{
  margin-top: 20px;
  font-size: 20px;
}

.recipe-container{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.recipe-panel-group{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.head-panel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 50px;
}

.head-panel a{
  color: #000;
}

.head-panel a:hover{
  text-decoration: none;
  color: #AAAAAA;
}

.head-panel a:focus{
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.content-panel{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 30px;
  gap: 20px;
  align-items: flex-start;
  width: 700px;
  height: 300px;
}

.recipe-panel-group .collapse.in{
  display:flex;
  flex-direction: row;
}

.profile-recipe-img{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 5px;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.m1{
  background-image: url(./assets/img/bomb\ chicken\ 2.png);
}

.m2{
  background-image: url(./assets/img/bananas\ pancake.png);
}

.s1{
  background-image: url(./assets/img/coffee\ lava\ cake.png);
}

.s2{
  background-image: url(./assets/img/chiken\ kare.png);
}

.l1{
  background-image: url(./assets/img/pizza\ lamoa.png);
}

.l2{
  background-image: url(./assets/img/indian\ salad.png);
}

.profile-recipe-img p{
  color: #fff;
  font-size: 20px;
  width: 60px;
}

.cpp{
  border-radius: 10px 10px 0 0;
}

.cp{
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 640px) {
  .content .jumbroton{
      left: 50px;
  }
  
  .content h1{
      font-size: 36px;
  }

  .content .form-group{
      width: 360px;
  }
  
  .food-image{
      display: none;
  }

  .popular-content{
      flex-direction: column;
  }
  .new-recipe-content{
      flex-direction: column;
  }
  .yellow-bg{
      display: none;
  }
  .nr-image{
      height: 400px;
      width: 400px;
      margin-top: 20px;
  }
  .new-rec-desc{
      margin-left: 100px;
      padding-top: 20px;
  }

  .bg-image1{
      margin-left: 25px;
  }

  .popular-recipe-content .d-flex{
      flex-direction: column;
  }

  /* footer */
  .f-product ul li{
      padding: 2px 10px;
  }

  .arkademy{
      right: 2px;
  }

  /* responsive detail recipe */
  .recipe-title .image-r{
      height: 300px;
      width: 500px;
      justify-content: center;
  }

  /* responsive detail video recipe */
  .video-section{
      flex-direction: column;
  }
  .video-section .next-vid-section{
      width: 40%;
      height: 900px;
  }
  
  /* responsive add recipe */
  .add-recipe-container{
      margin-bottom: 20px;
      font-size: 12px;
  }

  .add-recipe-form form .add-photo{
      font-size: 18px;
  }

  .add-recipe-form form .add-photo p {
      font-size: 12px;
  }

  /* responsive profile */
  .recipe-panel-group .collapse.in{
      flex-direction: column;
  }

  .profile-recipe-img {height: 400px;}

  /* responsive login */
  .login-container{
    height: 50px !important;
  }
  .logo{
      height: 100%;
  }
}

@media screen and (max-width: 880px){
  .form-box .form-input input{
      padding-left: 10px !important;
  }
}

/* login css */
.logo p{
  font-family: "Airbnb";
  text-align: center;
  font-weight: 700;
}

label{
  text-align: left;
}

.d-flex{
  gap:20px;
}

.login-container{
  background-image: linear-gradient(rgba(241, 188, 15, 0.82), rgba(241, 188, 15, 0.82)), url("./assets/img/image\ 15.png");
  object-fit: fill;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-height: 100vh;
}

.form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter";
  padding: 3.5rem;
}

.heading{
  color: rgb(241, 188, 15);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.heading-2{
  color: #8692A6;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.input-form{
  font-size: 16px;
  font-weight: 500;
}

.form-input{
  position: relative;
}

.form-box .form-input input{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
  background: white;
  padding-left: 45px;
}

.form-box .form-input input::placeholder{
  padding-left: 0px;
}

.form-box .input-form input:focus, 
.form-box .input-form input:valid{
  border: 1px solid #EFC81A
}

.form-box input[type="checkbox"]:not(:checked) + label:before{
  background: transparent;
  border: 3px solid #000 !important;
  width: 15px;
  height: 15px;
}

.custom-control-input{
  cursor: pointer;
} 

.form-box .custom-checkbox input.custom-control-input:checked{
  background-color: #EFC81A;
  accent-color: #EFC81A;
  cursor: pointer;
  border: 0px;
}

.btn.btn-primary.w100{
  width: 100% !important;
}

.text-right{
  text-align: right !important;
}

.forgotpw{
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.forgotpw:hover, .register:hover{
  color: #EFC81A;
}

.forgotpw:active, .register:active{
  color: black;
}

.register{
  text-align: right;
  color: #EFC81A;
  text-decoration: none;
}

.signup-label{
  color: #999999;
  font-size: 13px;
  font-weight: 500;
}