html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* a {
  color: inherit !important;
  text-decoration: none !important;
} */

* {
  box-sizing: border-box;
}

.btn {
  margin: 10px 0;
  word-break: break-all;
}

.bg-orange{
    background-color: #FBB017 !important;
}

.bg-purple{
  background-color: #5E50A1 !important;
}

.text-purple{
  color: #5E50A1 !important;
}

.text-orange{
  color: #FBB017 !important;
}

.text-gray{
  color: #9EA0A5 !important;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -5px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid black;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -5px;
  left: -1px;
  position: relative;
  background-color: #5E50A1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  outline: 1px solid black;
}

input[type='radio']:checked+label{
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
