.container {
  padding: 0 2rem;
  height: 100vh;
}

.banner{
  width: 50%;
  height: 100%;
}

.mobileLogo{
  display: none;
}

.mobileHeader{
  display: none;
}

.info{
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  width: 50%;
}

.info hr{
  width: 100%;
  border: 1px solid black;
  background-color: black;
}

.info p{
  margin: 0;
}

.pekerja {
  background-color: white;
  color: #5E50A1;
  border-color: #5E50A1;
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}

.pekerja:hover{
  background-color: #FBB017;
  color: white;
  border-color: #5E50A1;
}

.perekrut {
  background-color: #5E50A1;
  color: white;
  border-color: #5E50A1;
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}

.perekrut:hover{
  background-color: #FBB017;
  color: white;
  border-color: #5E50A1;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label{
  color: #9EA0A5;
  padding-left: 5px;
}

.form input{
  height: 40px;
  padding-left: 10px;
  border: 1px solid #E2E5ED;
  border-radius: 5px;
}

.form .forgot{
  color: black;
  text-decoration: none;
  text-align: end;
  margin-bottom: 0.5rem;
}

.form .forgot:hover{
  color: #5E50A1;
}

.submit {
  background-color: #FBB017;
  border: 1px solid #FBB017;
}

.submit:hover{
  background-color: #5E50A1;
}

.register{
  color: #FBB017;
  text-decoration: none;
}

.register:hover{
  color: #5E50A1;
}

@media only screen and (max-width: 620px) {
  .banner{
    display: none;
  }

  .mobileLogo{
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
  }

  .mobileHeader{
    display: block !important;
    font-size: 36px;
    font-weight: 700;
    margin-top: 5rem;
  }

  .par{
    font-size: 22px !important;
  }
  
  .option {
    display: flex !important;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .info h1{
    display: none;
  }

  .info p{
    display: none;
    font-size: 24px;
    font-weight: 100;
  }

  .info label{
    font-size: 24px;
  }

  .info input{
    font-size: 20px;
    height: 60px;
  }

  .infoOption {
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 35px;
  }

  .infoOption hr{
    border: 1px solid white;
    background-color: white;
  }

  .infoOption p{
    color:white;
  }

  .infoOption .btnPekerja{
    color: #5E50A1 !important;
  }

  .infoOption .btnPekerja:hover{
    color: white !important;
  }

  .infoOption .btnPerekrut{
    background-color: transparent !important;
  }

  .infoOption .btnPerekrut:hover{
    background-color: #FBB017 !important;
  }

  .info{
    margin: 0;
    width: 90vh;
  }
  .pekerja{
    width: 100%;
  }
  .perekrut{
    width: 100%;
  }

  .forgot{
    font-size: 20px;
  }

  .submit{
    height: 48px;
  }

  .form p {
    display: block;
    font-size: 20px;
  }

  .or{
    font-size: 16px !important;
  }
}
